# SUPABASE_URL="https://tu_id_de_proyecto.supabase.co"
# SUPABASE_KEY="tu_clave_aqui"
# PAL_CLIENT_ID="tu_client_id_aqui"
# PAYPAL_CLIENT_SECRET="tu_client_secret_aqui"
# PAYPAL_MODE="modo_de_uso"
# TASA_CAMBIO_USD= # Tasa del día en Bs.D

# # Ejemplo de cómo poner las credenciales en el .env 

