.Dashboard {
  padding: 8rem 0;
}

.Dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard-content {
  background: var(--reverse-principal);
  width: max-content;
  color: var(--principal);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Dashboard-content i {
  font-style: normal;
  font-size: 40px;
}

.Dashboard-content span {
  text-transform: uppercase;
  font-size: 70px;
}

.dashboard-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--reverse-principal);
  padding: 1rem;
  border-radius: 1rem;
}

.dashboard-card-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dashboard-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-especial);
  color: var(--reverse-principal);
}

.dashboard-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-card-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.dashboard-card-info p {
  font-size: 1rem;
  font-weight: 400;
}