.Gallery{
    padding: 8rem 0;
}
.gallery-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem 0;
}
.gallery-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem;
}
.gallery-images img, .add-image{
    max-width: 20rem;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
}
.gallery-images img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery-image-container{
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
    width: 20rem;
    padding: 0;
    border-radius: 1rem;
    position: relative;
    aspect-ratio: 5/7;
}
.gallery-image-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.gallery-image-container img:hover{
    transform: none;
    transition: all 0.3s ease;
    box-shadow: 0 6px 18px var(--color-especial);
}
.add-image{
    background-color: transparent;
    color: var(--text-principal);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.add-image:hover, .add-image:focus{
    background-color: transparent;
    transform: none;
}
.add-image i{
    font-size: 3rem;
}

.gallery-image-actions{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
}
.gallery-image.zoom{
    position: relative;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    transform: scale(1.5);
    z-index: 10;
}
.gallery-image.zoom:hover{
    transform: scale(1.5);
    overflow: hidden;
}