.login-container {
    position: relative;
    text-align: center;
    background-color: var(--principal);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px var(--dark-gray);
    height: 100%;
    max-height: 25rem;
    width: 100%;
    max-width: 30rem;
    text-align: center;
    background-color: var(--reverse-principal);
}

.login h1 {
    font-size: 2rem;
    margin-bottom: 1rem;;
}

.login input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 1rem;
    outline: none;
    font-size: 1.2rem;
    color: var(--principal);
    background-color: var(--dark-gray);
}

.login input:focus {
    border-bottom: 2px solid var(--color-especial);
}

.login-options {
    display: flex;
    gap: 2rem;
}
.login .submit {
    padding: 1rem;
    background-color: var(--color-especial);
    color: var(--principal);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: center;
}

.password-field {
    margin-left: 1rem;
}

.eye-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    color: var(--color-especial);
    box-shadow: none;
}

.eye-button:hover {
    color: var(--principal);
    transform: none;
    background: none;
    box-shadow: none;
}

.eye-button:focus {
    outline: none;
    transform: none;
    background: none;
    box-shadow: none;
}

.redirect-container a{
    color: var(--principal);
    text-decoration: none;
    transition: all 0.3s ease;
}
.redirect-container a:hover{
    color: var(--color-especial);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--text-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.back-button:hover {
    transform: scale(1.1);
}