.login-container {
    text-align: center;
    background-color: var(--principal);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    height: 100%;
    max-height: 25rem;
    width: 100%;
    max-width: 30rem;
    text-align: center;
}

.login h1 {
    font-size: 2rem;
    margin-bottom: 1rem;;
}

.login input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 1rem;
    outline: none;
    font-size: 1.2rem;
}

.login input:focus {
    border-bottom: 2px solid var(--color-especial);
}

.login-options {
    display: flex;
    gap: 2rem;
}

.login .submit {
    padding: 1rem;
    background-color: var(--color-especial);
    color: var(--principal);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: center;
}

