.register-container {
    position: relative;
    text-align: center;
    background-color: var(--principal);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px var(--dark-gray);
    height: 100%;
    max-height: 35rem;
    width: 100%;
    max-width: 30rem;
    text-align: center;
    background-color: var(--reverse-principal);
}

.register h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.register input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 1rem;
    outline: none;
    font-size: 1.2rem;
    color: var(--principal);
    background-color: var(--dark-gray);
}

.register input:focus {
    border-bottom: 2px solid var(--color-especial);
}

.register input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.register button {
    padding: 1rem;
    background-color: var(--color-especial);
    color: var(--principal);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: center;
}

.redirect-container a{
    color: var(--principal);
    text-decoration: none;
    transition: all 0.3s ease;
}
.redirect-container a:hover{
    color: var(--color-especial);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(31, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.back-button:hover {
    transform: scale(1.1);
}

.message-error{
    color: var(--principal);
}