:root {

  --principal: #ffffff; /* Vaiable a la que se le asigna el color principal */
  --secundario: #2134c4;
  --text-principal: #1a1a1a;
  --reverse-principal: #1a1a1a;
  --text-secundario: rgba(255, 255, 255, 0.6);
  --color-especial: #ff6363;
  --color-gray: rgba(125, 125, 125, 1);

}

body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--principal);
  color: var(--text-principal);
}

h1{
  color: var(--text-principal);
}